.venv/
artifacts/
backups/
build/
dist/
installer-output/
.pytest_cache/
*.spec
__pycache__/
*.pyc
.env
input/*
!input/.gitkeep
brainrot/*
!brainrot/.gitkeep
sounds/*
!sounds/.gitkeep
output/*
!output/.gitkeep
